.boton1 {
    background-color: #11D4BB;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}
.boton2 {
    background-color: #11D4BB;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

.boton-desactivado {
    opacity: 0.5;
}

.boton3 {
    background-color: #11D4BB;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

.boton3:hover {
    background-color: #00927F;
}


.botonClick {
    background-color: #11D4BB;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}


.main {
  background-color: pink;
}

.main__title {
  color: red;
}

.styleOLA {
    color: green;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}